// Fonts
$font-family-body = source-han-serif-sc, serif
$font-family-mono = source-han-serif-sc, serif
$font-family-tt = source-han-serif-sc, serif
$font-size = 21px
$line-height = 1.667

// Colors
$color-background = #ffc387
$color-link = #d51c6c

$color-text = #363533
$color-light = #333333
$color-lightest = #111111
$color-accent = #d44375
$color-quote = #ab2251
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow-night"
